@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap');

/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  text-align: center;
  width: ;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d2939;
  color: #fff;
  padding: 40px 60px 20px 60px;
  position: relative;
  margin-bottom: -20px;
}

.nav-brand {
  font-size: 34px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}
.jump {
  transition: transform 0.2s ease-in-out;
}

.jump:hover {
  transform: translateY(-5px);
}

.nav-toggle {
  display: none;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.nav-item {
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s, bottom 0.3s;
  position: absolute;
  bottom: -23px; /* Adjust the distance below the links */
}

.nav-item:hover::after {
  width: 100%;
  background-color: #ffffff;
  bottom: -23px; /* Adjust the distance below the links */
}




@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #1d2939;
    padding: 10px 0;
  }
  .nav-brand {
    font-size: 26px;
  }

  .nav-item {
    margin: 10px 0;
    font-size: medium;
  }
  .nav-toggle {
    display: block;
  }

  .navbar.open .nav-menu {
    display: flex;
  }
}


/**Home Page css */

.Home {
  background-color: #1d2939;
  min-height: calc(100vh - 60px); /* Adjust the navbar height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgImg {
  position: absolute;
  width: 100%; /* Adjust the width to your desired size */
  height: auto; /* Keep the aspect ratio by setting height to auto */
  left: 0;
  z-index: -1; /* Move the image behind the content */
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1; /* Ensure the content is in front of the image */
}

.hero-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 1.6; /* Adjust the line-height for vertical centering */
  color: #ffffff;
}

.hero-text {
  width: 80%; /* Adjust the width to your desired size */
  max-width: 592px; /* Set a maximum width for responsiveness */
  margin: 20px 0; /* Add some vertical spacing */
  color: #ffffff;
}

/**********************/
/** Articles css */

/* CSS for Articles component */

section {
}